body {
  font-size: var(--text-14px);
  line-height: var(--text-17px);
  color: var(--color-body);
  background-image: var(--gradient-bg);
  letter-spacing: -0.4px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: var(--html-fzoom-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  position: relative;
}
button {
  position: relative;
  border: none;
  padding: 0;
}
